.timeline-main {
  background-image: url("../assets/spaceship.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 91.5vh;
  float: left;
}

.star {
  height: 91.5vh;
  width: 100%;
  float: left;
  background-image: url("../assets/stars.png");
}

.timline-chart {
  float: left;
  width: 65%;
  height: 700px;
  margin-left: 5%;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.timeline-chart canvas {
  width: 100% !important;
  height: 100% !important;
  border-radius: 18px;
}

.timeline-chart .chartjs-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  color: #333;
  padding: 8px;
  border-radius: 5px;
}

.texInfo {
  width: 20%;
  height: 100%;
  padding: 2%;
  margin-left: 5%;
  background-color: #111111da;
  border-radius: 20px;
  float: left;
  color: white;
  transition: width 0.3s ease;
}

.timeholder {
  width: 100%;
  height: 25%;
  float: left;
  margin-top: 5%;
}

.dropDown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #555;
  outline: none;
  width: 200px;
  cursor: pointer;
  margin-bottom: 10px;
}

.dropDown:hover {
  border-color: #aaa;
}

.dropDown:focus {
  border-color: red;
}

.dropDown option {
  background-color: #f9f9f9;
  color: #555;
}

.dropDown option:hover {
  background-color: #ccc;
  color: #333;
}
